footer {
    background-image: url("/img/footer-bg.jpg"); 
    // bgi non funziona
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    .container-f {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .links {
            display: flex;
            padding: 50px 0;
            h3 {
                text-transform: uppercase;
                color: white;
                margin: 15px 0;
            }
            ul {
                list-style: none;
                margin-right: 20px;
                color: gray;
                li {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
        #img-footer {
            background-image: url('/img/dc-logo-bg.png');
            width: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }

    #social {
        background-color: #303030;
        .box{
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding: 30px;
            button {
                background-color: #303030;
                border: 2px solid #0c7cec;
                color: white;
                font-size: 18px;
                padding: 15px;
            }
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 400px;
                h2 {
                    text-transform: uppercase;
                    color: #0c7cec;
                    flex-shrink: 0;
                    margin-right: 50px;
                }
                img{
                    margin: 10px;
                }
            }
        }

    }
  
}