section {
    background-color: #1c1c1c;
    padding: 200px 0;
    h1{
      color: white;
    }
    p{
      color: white;
    }
    .m-container {
      .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-shrink: 0;
        padding: 40px;
        width: 80%;
        margin: 0 auto;
      }
      button {
        width: 150px;
        height: 30px;
        text-transform: uppercase;
        color: white ;
        background-color: #0c7cec;
        border: none;
        margin: 40px 0 0 0;
      }
    }
    
  }